@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-repeat: no-repeat;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #f8dbdb 0%, #e5f8fa 90%);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav #header-cloud-ani {
  position: fixed;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  -webkit-animation: uupDown 5s .5s linear infinite alternate;
          animation: uupDown 5s .5s linear infinite alternate;
}

nav #header-cloud-anii {
  position: fixed;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  opacity: 0.5;
  -webkit-animation: upDown 2s 5s linear infinite alternate;
          animation: upDown 2s 5s linear infinite alternate;
}

nav #forester-logo {
  width: 100px;
}

nav #small-forester-logo {
  display: none;
}

nav #header-member {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

nav #header-member img {
  width: 50px;
  height: 50px;
}

nav .header-background-cloud {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

nav .header-background-cloud ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 10px  auto;
}

nav .header-background-cloud ul span {
  display: none;
}

nav .header-background-cloud ul li {
  display: inline-block;
}

nav .header-background-cloud ul li a {
  font-size: 22px;
  font-family: 微軟正黑體;
  font-weight: bold;
  color: #008c95;
}

@-webkit-keyframes upDown {
  0% {
    top: 0;
  }
  20% {
    top: -3px;
  }
  40% {
    top: -8px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -8px;
  }
  100% {
    top: -4px;
  }
}

@keyframes upDown {
  0% {
    top: 0;
  }
  20% {
    top: -3px;
  }
  40% {
    top: -8px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -8px;
  }
  100% {
    top: -4px;
  }
}

@-webkit-keyframes uupDown {
  0% {
    top: 0;
  }
  20% {
    top: -5px;
  }
  40% {
    top: -18px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -17px;
  }
  100% {
    top: -5px;
  }
}

@keyframes uupDown {
  0% {
    top: 0;
  }
  20% {
    top: -5px;
  }
  40% {
    top: -18px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -17px;
  }
  100% {
    top: -5px;
  }
}

/*手機漢堡堡*/
@media screen and (max-width: 767px) {
  nav #header-cloud-ani, nav #header-cloud-anii {
    display: none;
  }
  nav .header-background-cloud {
    background-color: #fff;
    width: 100%;
    height: 10vh;
    margin: auto;
    z-index: -100;
    position: relative;
  }
  nav .header-background-cloud span {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: -1;
    position: relative;
  }
  nav .header-background-cloud ul {
    margin: auto;
    display: block;
    z-index: 10;
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
  }
  nav .header-background-cloud ul #forester-logo {
    display: none;
  }
  nav .header-background-cloud ul li {
    margin: 20% auto;
    text-align: center;
    display: block;
    z-index: 10;
  }
  nav .header-background-cloud ul li a {
    font-size: 22px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #008c95;
  }
  nav #small-forester-logo {
    position: fixed;
    display: block;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    width: 100px;
  }
  .icon {
    position: fixed;
    top: 3vh;
    left: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .hamburger {
    width: 50px;
    height: 5px;
    background-color: #008c95;
    position: absolute;
    z-index: 1000;
    top: 20px;
  }
  .hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background: #008c95;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: top .5s;
    transition: top .5s;
  }
  .hamburger::before {
    top: -10px;
  }
  .hamburger::after {
    top: 10px;
  }
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.icon.active .hamburger::before {
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.icon.active .hamburger::after {
  top: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top .5s;
  transition: top .5s;
}

@-webkit-keyframes show_span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes noshow_span {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes noshow_span {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 200px auto 0;
  position: relative;
  z-index: 1;
  outline: 2px solid red;
}

body {
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8dbdb), color-stop(90%, #e5f8fa));
  background-image: linear-gradient(to bottom, #f8dbdb 0%, #e5f8fa 90%);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DAB980;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #67BE8D;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3BA261;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

.clearfix {
  clear: both;
}

div, h1, h2, h3, h4, h5, h6, p, span {
  font-family: '微軟正黑體';
  letter-spacing: 1.5;
}

.header-space {
  height: 150px;
}

.blogRanking {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 5%;
  padding: 2.5%;
  background-image: url(../images/blog/paper.png);
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .blogRanking {
    background-color: #f6d5a7;
  }
}

.blogRanking h2 {
  font-family: '微軟正黑體';
  font-size: 28px;
  font-weight: bold;
  color: #eb715f;
  letter-spacing: 1.5;
}

.blogRanking .blogRanking-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto;
}

.blogRanking .blogRanking-info .blogRanking-author img {
  width: 25px;
  height: 25px;
}

.blogRanking .blogRanking-info .blogRanking-author span {
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  line-height: 1.5;
  vertical-align: top;
}

.blogRanking .blogRanking-info .blogRanking-share img {
  width: 25px;
  height: 25px;
}

.blogRanking .blogRanking-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .blogRanking .blogRanking-article {
    display: block;
  }
}

.blogRanking .blogRanking-article .blogRanking-article-left {
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .blogRanking .blogRanking-article .blogRanking-article-left {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .blogRanking .blogRanking-article .blogRanking-article-left .blogRanking-photo {
    width: 80%;
    margin: auto;
  }
}

.blogRanking .blogRanking-article .blogRanking-article-left .blogRanking-photo img {
  width: 100%;
  position: relative;
  top: 5%;
}

.blogRanking .blogRanking-article .blogRanking-article-left p {
  padding: 5%;
}

.blogRanking .blogRanking-article .blogRanking-article-left span {
  color: #718cc6;
  cursor: pointer;
}

.blogRanking .blogRanking-article .blogRanking-event-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .blogRanking .blogRanking-article .blogRanking-event-wrap {
    width: 100%;
  }
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event {
  cursor: pointer;
  width: 350px;
  border: #111 solid 2px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
  margin: 5px;
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event:hover {
  background-color: #fdf7bd;
}

@media screen and (max-width: 768px) {
  .blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event {
    margin: 10px auto;
  }
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event img {
  width: 150px;
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event .blogRanking-event-info {
  display: inline-block;
  text-align: start;
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event .blogRanking-event-info .event-name {
  font-family: '微軟正黑體';
  font-size: 28px;
  font-weight: bold;
  color: #718cc6;
  letter-spacing: 1.5;
  display: inline-block;
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event .blogRanking-event-info .event-value-table {
  margin: auto;
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event .blogRanking-event-info .event-value-table img {
  width: 25px;
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event .blogRanking-event-info .event-value-table td {
  font-size: 20px;
  padding: 5px;
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event .blogRanking-event-info .avgScore span {
  color: #3ba261;
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event .blogRanking-event-info .avgScore img {
  width: 20px;
  height: 20px;
}

.blogRanking .blogRanking-article .blogRanking-event-wrap .blogRanking-event .blogRanking-event-info .event-price {
  text-align: end;
}

.blogRanking .blogRanking-btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  vertical-align: middle;
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  line-height: 1.5;
}

.blogRanking .blogRanking-btnContainer .blogLikeBtn {
  margin: 0 10px;
}

.blogRanking .blogRanking-btnContainer .blogLikeBtn span {
  vertical-align: 5px;
}

.blogRanking .blogRanking-btnContainer .blogLikeBtn img {
  width: 25px;
  height: 25px;
}

.blogRanking .blogRanking-btnContainer .blogCommentBtn {
  margin: 0 10px;
}

.blogRanking .blogRanking-btnContainer .blogCommentBtn span {
  vertical-align: 5px;
}

.blogRanking .blogRanking-btnContainer .blogCommentBtn img {
  width: 25px;
  height: 25px;
}

.blogRanking .addBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px 0;
  padding-right: 10px;
}

.blogRanking .addBtn button {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 50px;
  display: inline-block;
  font-family: '微軟正黑體';
  font-size: 18px;
  font-weight: bold;
  color: #eb715f;
  text-align: center;
  vertical-align: middle;
  background-color: #ffdb3f;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 1px 0px #af8c92, 0px 2px 0px #a57e85, 0px 3px 0px #9e757c, 0px 4px 0px #946970;
          box-shadow: 0px 1px 0px #af8c92, 0px 2px 0px #a57e85, 0px 3px 0px #9e757c, 0px 4px 0px #946970;
  width: 150px;
}

.blogRanking .addBtn button:hover {
  top: 4px;
  -webkit-box-shadow: 0px 1px 0px #946970, 0px 1px 0px #9e757c, 0px 2px 0px #a57e85, 0px 2px 0px #af8c92;
          box-shadow: 0px 1px 0px #946970, 0px 1px 0px #9e757c, 0px 2px 0px #a57e85, 0px 2px 0px #af8c92;
}

.blogShare {
  margin: auto;
  text-align: center;
  height: 300px;
  position: relative;
  padding: 5% 0;
}

.blogShare img {
  width: 200px;
  position: absolute;
  right: 42%;
}

@media screen and (max-width: 768px) {
  .blogShare img {
    position: absolute;
    right: 30%;
  }
}

.blogShare button {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 50px;
  display: inline-block;
  font-family: '微軟正黑體';
  font-size: 18px;
  font-weight: bold;
  color: #eb715f;
  text-align: center;
  vertical-align: middle;
  background-color: #ffdb3f;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
  position: absolute;
  top: 48%;
  right: 48%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .blogShare button {
    right: 40%;
  }
}

.blogShare button a {
  color: #eb715f;
}

.blogForum {
  max-width: 1200px;
  margin: auto;
}

.blogForum .blogForum-optContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 20px;
}

.blogForum .blogForum-optContainer select {
  width: 180px;
  height: 50px;
  font-family: '微軟正黑體';
  font-size: 24px;
  font-weight: bold;
  color: #403d04;
  letter-spacing: 1.5;
}

.blogForum #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.blogForum #container .blog-item {
  width: 25%;
  margin: 20px;
  padding: 2.5%;
  background-color: #f7bd9d;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .blogForum #container .blog-item {
    width: 80%;
    margin: 30px;
  }
}

.blogForum #container .blog-item .blog-img img {
  width: 100%;
}

.blogForum #container .blog-item .blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
}

.blogForum #container .blog-item .blog-info .blogDate {
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  line-height: 1.5;
  vertical-align: middle;
}

.blogForum #container .blog-item .blog-author {
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogForum #container .blog-item .blog-author span {
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  line-height: 1.5;
  vertical-align: middle;
}

.blogForum #container .blog-item .blog-author img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 5px;
}

.blogForum #container .blog-item .blog-name {
  margin: 10px 0;
}

.blogForum #container .blog-item .blog-name h2 {
  font-family: '微軟正黑體';
  font-size: 24px;
  font-weight: bold;
  color: #666;
  letter-spacing: 1.5;
}

.blogForum #container .blog-item .event-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogForum #container .blog-item .event-wrap .event-item {
  width: 40%;
  text-align: center;
  background-color: #fff;
  border: #111 1px solid;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.blogForum #container .blog-item .event-wrap .event-item:hover {
  background-color: #fdf7bd;
}

.blogForum #container .blog-item .event-wrap .event-item img {
  width: 90%;
  margin: 10px 0;
}

.blogForum #container .blog-item .event-wrap .event-item h3 {
  font-family: '微軟正黑體';
  font-size: 24px;
  font-weight: bold;
  color: #403d04;
  letter-spacing: 1.5;
  padding: 5px;
}

.blogForum #container .blog-item .blog-item-btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  vertical-align: middle;
  margin: 10px 0;
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  line-height: 1.5;
}

.blogForum #container .blog-item .blog-item-btnContainer .blogLikeBtn {
  margin: 0 10px;
}

.blogForum #container .blog-item .blog-item-btnContainer .blogLikeBtn span {
  vertical-align: 5px;
}

.blogForum #container .blog-item .blog-item-btnContainer .blogLikeBtn img {
  width: 25px;
  height: 25px;
}

.blogForum #container .blog-item .blog-item-btnContainer .blogCommentBtn {
  margin: 0 10px;
}

.blogForum #container .blog-item .blog-item-btnContainer .blogCommentBtn span {
  vertical-align: 5px;
}

.blogForum #container .blog-item .blog-item-btnContainer .blogCommentBtn img {
  width: 25px;
  height: 25px;
}
/*# sourceMappingURL=blog.css.map */