@import "../base/_var.scss";
@import "../base/_reset.scss";
@import "../layout/_header.scss";
@import "../layout/_desktop.scss";
@import "../base/_common.scss";
@import "../base/_font.scss";


// *{
//     outline: #000 1px solid ;
// }

//blog ranking
.blogRanking{
    @media screen and (max-width:$mb){
        background-color: $blogrank;
        background-image: none;
    }
    max-width: $dt;
    margin: auto;
    margin-bottom: 5%;
    padding: 2.5%;
    background-image: url(../images/blogShare/paper_big_edited-01.png);
    // background-image: url(../images/blogShare/edit_blog_paper-01.svg);
    background-size: cover;
    background-position-x: 30%;
    h2{
      margin-top:5%;

      @include md-title($red);
    }
    .blogRanking-info{
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
    .blogRanking-author{
        img{
            width: 50px;
            height: 50px;
        }
        span{
            @include sm-title($black);
            vertical-align: center;
            position: relative;
            top: -25%;
        }
    }
    .blogRanking-share{
        img{
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    }
    }
    .blogRanking-article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width:$mb){
            display: block;
        }
        .blogRanking-article-left{
            width: 50%;
            margin: auto;
            @media screen and (max-width:$mb){
                width: 100%;
            }

            .blogRanking-photo{
                @media screen and (max-width:$mb){
                    width: 80%;
                    margin: auto;
                }
               img{
                width: 100%;
                position: relative;
                top: 5%;
            }
        }
                p{
                 padding:5%;
                 line-height: 1.5;
                 color: $black;
                 font-weight: 500;
             }
             .readMore{
                 color:$blue;
                 cursor: pointer;
                //  @include sm-title($doubledarkGreen);
                 font-weight: bold;
                 font-size: 18px;
                 display: inline-block;
                 margin-left: 15px;
                 &:hover{
                     color: #EB715F;
                 }
             }
        
        }
        
        .blogRanking-event-wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 50%;
            margin: 20px 0;
     
            @media screen and (max-width:$mb){
                width: 100%;
            }

                .blogRanking-event{
                    cursor: pointer;
                    width: 350px;
                    border: #111 solid 2px;
                    background-color: #fff;
                    border-radius: 10px;
                    text-align: center;
                    padding: 2%;
                    margin: 5px;
                    transition: .4s;
                    &:hover{
                        background-color:$eventHover;
                    }
                   
                    @media screen and (max-width:$mb){
                        margin:10px auto;
                    }
                    img{
                       width: 150px;
                    }
                    .blogRanking-event-info{
                        display: inline-block;
                        text-align: start;
        
                        .event-name{
                            @include md-title($blue);
                            font-size: 26px;
                            display: inline-block;
                        }
                        .event-hr{
                            text-align: end;
                            position: relative;
                            left: 10px;
                        }
                        .event-value-table{
                            margin: auto;
                            img{
                                width: 25px;
                            }
                            td{
                                font-size: 20px;
                                padding: 5px;
                            }
                        }
                      
                        .avgScore{
                        span{
                            color: $lightGreen;
                        }
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .event-price{
                        // width: 100%;
                        text-align: end;
                    }
                 }
                }
            }
        
    }
        .blogRanking-btnContainer{
            display: flex;
            justify-content: flex-end;
            vertical-align: middle;
            height: 40px;
            @include bodyP;
            .blogLikeBtn{
                cursor: pointer;
                height: 30px;
                display: flex;
                justify-content: space-around;
                margin: 0 10px;
                border-radius: 10px;
                background-color: rgba(218, 185, 128, 0.623);
                transition: 1s;
                &:hover{
                    transform: scale(1.2);
                }
                span{
                    vertical-align: 5px;
                }
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            .blogCommentBtn{
                cursor: pointer;
                height: 30px;
                display: flex;
                justify-content: space-around;
                margin: 0 10px;
                border-radius: 10px;
                background-color: rgba(218, 185, 128, 0.623);
                transition: 1s;
                &:hover{
                    transform: scale(1.2);
                }
                span{
                    vertical-align: 5px;
                }
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    

    .addBtn{
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
        padding-right: 10px;
        position: relative;
        top: -10px;
        button{
            @include btn($red,$yellow);
            width: 150px;
        }
    }
    #addPlanArea{
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        width: 50%;
        height: 30%;
        border-radius: 20px;
        background-color:rgba($color: $pink, $alpha: 0.95) ;
        padding: 5%;
        #close{
            position: absolute;
            z-index: 11;
            right: 4%;
            top: 8%;
            display: flex;
            justify-content:flex-end;
            cursor: pointer;
            font-weight: bolder;
            font-size: 60px;
            &::after{
                content: '';
                display: block;
                background-image: url(../images/game/icon-close.png);
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
                background-size: contain;
            }
            
        }
        #addplanName{
                width: 30%;
                margin: 2.5%;
                font-size: 30px;
        }
        #planSub{
            margin: 5%;
            @include btn($white,$red);
        }
    }
    
}
//blog share
.blogShare{
    // max-width: $dt;
    margin: auto;
    text-align: center;
    height: 300px;
    position: relative;
    padding: 5% 0;

    img{
        @media screen and (max-width:$mb){
            position: absolute;
            right: 30%;
        }
        width: 200px;
        position: absolute;
        right: 42%;
    }
    button{
        cursor: pointer;
        position: relative;    
        top: 0;
        transition: .3s;
        width: 100px;
        height: 50px;
        display: inline-block;
        font-family: '微軟正黑體';
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        background-color: $pink;
        color: $red;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 1px 0px #ccc,
                    0px 2px 0px #bbb,
                    0px 3px 0px #aaa,
                    0px 4px 0px #999;  
        position: absolute;
        top: 46%;
        right: 47%;
        @media screen and (max-width:$mb){
            right: 40%;
        }
        z-index: 1;
    }
    .blogShare-beforehover{
        display: inline-block;
        padding: 12px;
        width: 250px;
        height: 50px;
        border-radius: 10px;
        background-color: $white;
        position: relative;
        left: -12%;
        @include sm-title($brightBlue);
        @media screen and (max-width:$mb){
           display: none;
        }
        &::after{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 20px;
            border-color: transparent transparent transparent $white;
            position: absolute;
            right: -7%;
        }

    }
    .blogShare-afterhover{
        display: inline-block;
        padding: 12px;
        width: 250px;
        height: 50px;
        border-radius: 10px;
        background-color: $white;;
        position: relative;
        right: -8%;
        visibility:hidden;
        @include sm-title($brightBlue);
        @media screen and (max-width:$mb){
            margin: auto;
            visibility:inherit;
            right: -30%;
            @include sm-title($brightBlue);
            font-size: 20px;
            width: 110px;
            height: 80px;
            border-radius: 50%;
         }
        &::after{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 20px 5px 0;
            border-color: transparent $white transparent transparent;
            position: relative;
            left: -9%;
            @media screen and (max-width:$mb){
                left: -25%;
                bottom: 45%;
                border-color: transparent $white transparent transparent;
            }

        }
    }
}
//blog forum
.blogForum{
    max-width: $dt;
    margin: auto;
    .blogForum-optContainer{
        button{
            @include btn($red,$yellow);
            height: 30px;
        }
        
    }
   #container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    .blog-item{
        width: 25%;
        @media screen and (max-width:$mb){
            width: 80%;
            margin: 30px;
        }
        margin: 50px 20px;
        padding: 2.5%;
        background-color: rgba($blogrank, $alpha: 0.6);
        border-radius: 10px;
        &::before{
            content: "";
            display: block;
            background-image: url(../images/blog/borderbefore-1.png);
            width: 100%;
            height: 15%;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: -8%;
            left: 0;
        }
        &::after{
            content: "";
            display: block;
            background-image: url(../images/blog/borderAfter.png);
            width: 120%;
            height: 15%;
            background-size: cover;
            position: absolute;
            bottom: -6%;
            left: -7%;
        }
        .blog-img{
            img{
                width: 100%;
            }
        }
        .blog-info{
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
            .blogDate{
                @include bodyP;
                vertical-align: middle;
                position: relative;
                top: 10px;
            }
        }
        .blog-author{
            vertical-align: middle;
            display: flex;
            margin: 10px 0;
            span{
                @include bodyP;
                vertical-align: middle;
                margin: 0 10px;
            }
            img{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                // margin: 0 5px;
                margin: 0 5px 0 0;
            }
        }

        .blog-name{
            margin: 10px 0;
            h2{
                @include sm-title(#666);
            }
        }
        .event-wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .event-item{
                width: 40%;
                text-align: center;
                background-color: #fff;
                border-radius: 10px;
                margin: 10px;
                transition: 1s;
                &:hover{
                    background-color:$eventHover;
                }
                cursor: pointer;
                img{
                    width:90%;
                    margin: 10px 0;
                }
                h3{
                    @include sm-title($black);
                    padding: 5px;
                }
            }
        }
        .blog-item-btnContainer{
            display: flex;
            justify-content: space-evenly;
            vertical-align: middle;
            margin: 10px 0;
            position: relative;
            z-index: 2;
            @include bodyP;
            .blogLikeBtn{
                cursor: pointer;
                margin: 0 auto;
                // width: 50%;
                width: 35%;
                display: flex;
                justify-content: space-around;
                border-radius: 10px;
                transition: 1s;
                // border: 1px solid gray;
                background-color: rgba(218, 185, 128, 0.623);
                span{
                    vertical-align: 5px;
                    line-height: 2.1;
                }
                img{
                    width: 25px;
                    height: 25px;
                    margin: 5px;
                }
                &:hover{
                    transform: scale(1.2);
                }
            }
            .blogCommentBtn{
                cursor: pointer;
                margin: 0 auto;
                width: 35%;
                display: flex;
                justify-content: space-around;
                border-radius: 10px;
                transition: 1s;
                background-color: rgba(218, 185, 128, 0.623);
                span{
                    vertical-align: 5px;
                    line-height: 2.1;
                }
                img{
                    width: 25px;
                    height: 25px;
                    margin: 5px;
                }
                &:hover{
                    // background-color: $orange;
                    // transition: 1s;
                    transform: scale(1.1);
                }
            }
        }
    }
  } 
}

//燈箱
#copyurl{
    opacity: 0;
    width: 0.001px;
    height: 0.001px;
}
#copyok{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    background-color: rgba($color: $pink, $alpha: 0.8);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: none;
    p{
        margin: 15%;
        @include big-title($black);
    }
}

//背景
#scene1{
    position: absolute;
    z-index: -2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: -1.6%;
    .fly1{
        position: absolute;
        right: -5vw;
        img{
            width: 100px;
        }
    }
}
#scene2{
    position: absolute;
    width: 20%;
    left: -0.8%;
    z-index: -2;
    .fly1{
        position: absolute;
        left: -5vw;
        img{
            width: 100px;
            opacity: 0.8;
        }
    }
}
#scene3{
    position: absolute;
    z-index: -2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .fly1{
        position: absolute;
        right: -5vw;
        img{
            width: 100px;
            opacity: 0.8;
        }
    }
}
#scene4{
    position: absolute;
    width: 20%;
    left: -0.8%;
    z-index: -2;
    .fly1{
        position: absolute;
        left: -5vw;
        img{
            width: 100px;
            opacity: 0.8;
        }
    }
}