@import "../base/_var.scss";
@import "../base/_reset.scss";
@import "../layout/_header.scss";
@import "../layout/_desktop.scss";
@import "../base/_common.scss";
@import "../base/_font.scss";


*{
    // outline: #000 1px solid ;
}
//header-space
.header-space{
    height: 150px;
}

//
.game-container{
    max-width: $dt;
    margin: auto;
    position: relative;
    .game-map{
        text-align: center;
        img{
            width: 60%;
        }
    }
    .game-rule{
        width: 100px;
        position: absolute;
        bottom: 0;
        left: 7%;
        cursor: pointer;
        // text-align: center;
        img{
            width: 100%;
        }
        span{
            @include bodyP;
            color: $black;
            position: absolute;
            bottom: 40%;
            left: 20%;
        }
    }
    .game-rule-content{
        background-image: url(../images/blog/paper.png);
        background-repeat: no-repeat;
        padding: 5%;
        width: 50%;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation:fly 1s;
        max-width: $dt;
        div{
            position: absolute;
            right: 5%;
            top: 0;
            display: flex;
            justify-content:flex-end;
            cursor: pointer;
            font-weight: bolder;
            font-size: 50px;
        }
        h2{
            @include big-title($red);
            margin: 10px 0;
        }
        p{
            @include bodyP;
        }
    }
}
@keyframes fly {
    0% { left: -1000px; }
    100% {left: 20%;}
}
.photoWall{
    max-width: $dt;
    margin: 5% auto;
    padding: 5%;
    .photoWall-container{
        display: flex;
        justify-content: space-between;
        .photowall-heading{
            @include md-title($black);
        }
        .photoWall-upload{
            button{
                @include btn($red,$yellow);
                width: 180px;
            }
            
        }
    }
    #container{
        display: flex;
        justify-content: space-evenly;
        margin: 5%;
        text-align: center;
    }
        .photo-item{
            @media screen and (max-width:$mb){
                width: 80%;
                margin: 5%;
            }
            cursor: pointer;
            width: 240px;
            background-color: #fff;
            position: relative;
            border-radius: 10px;
            margin: 2%;
            .photo-img{
                width: 200px;
                margin: auto;
                text-align: center;
                img{
                    width: 100%;
                    padding-top: 10px;
                }
            }
            .photo-btn-container{
                display: flex;
                justify-content: space-between;
                margin: 10% 0;
            }
            .photo-author{
                vertical-align: middle;
                display: flex;
                margin: 10px;
            span{
                @include bodyP;
                vertical-align: middle;
            }
            img{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin: 0 5px;
            }
            }
            .photoLikeBtn{
                margin:10px;
                span{
                    vertical-align: 5px;
                }
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }

}