.wrap {
<<<<<<< HEAD
//<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 479dbb4f22703baf2a244710941750031ca4fa3c
    width: 100%;
    max-width: $dt;
    margin: 200px auto 0;
    position: relative; 
    z-index: 1;
    outline: 2px solid red;
<<<<<<< HEAD
//=======
=======
=======
=======
>>>>>>> tzuping
>>>>>>> 479dbb4f22703baf2a244710941750031ca4fa3c
  width: 100%;
  max-width: $dt;
  margin: 200px auto 0;
  position: relative; 
  z-index: 1;
<<<<<<< HEAD
//>>>>>>> order
=======
<<<<<<< HEAD
>>>>>>> order
=======
  outline: 2px solid red;
>>>>>>> tzuping
>>>>>>> 479dbb4f22703baf2a244710941750031ca4fa3c
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient( to bottom,  rgba(248,219,219,1) 0%, rgba(229,248,250,1) 90% );
}

/* width */
::-webkit-scrollbar {
    width: 15px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #DAB980; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #67BE8D;
    border-radius: 20px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3BA261; 
  }

